<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.core">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".utils.permission.PermissionUtils$PermissionActivity"
            android:theme="@style/AppTheme"></activity>
    </application>
</manifest>