<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.ayo.third">




    <application android:allowBackup="true"
        android:supportsRtl="true"
        >


        <!-- 微信sdk必须设置的回调Activity -->
        <activity android:name="org.ayo.social.callback.BaseWXEntryActivity"
            android:launchMode="singleTop"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity-alias
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:exported="true"
            android:targetActivity="org.ayo.social.callback.BaseWXEntryActivity"/>

        <!-- 这明明是QQ啊   QQ这俩还必须在主工程里声明，切记切记 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1106397210"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>


    </application>

</manifest>
