<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="org.ayo.imagepicker">

    <application android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".PhotoListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".album.PhotoShowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".VideoListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name="org.ayo.photo.ShowPicActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Viewer_ShowPic"/>
    </application>

</manifest>
